# Katy edits in 2024, to align with Django 4.2 and python 3.10
asgi-redis #updated 2024
asgiref #updated 2024
attrs==23.1.0 #updated 2024
autobahn==22.7.1 #updated 2024
Automat==22.10.0 #updated 2024
channels==4.0.0 #updated 2024
constantly==15.1.0 #same version is fine, 2024
daphne==4.1.2 #updated 2024
Django==4.2 #updated 2024
django-cors-headers==4.0.0 #updated 2024
djangorestframework==3.14.0 #updated 2024
dj_database_url
#gunicorn==19.7.1 #no longer needed? 2024
hyperlink==21.0.0 #updated 2024
incremental==24.7.2 #updated 2024
msgpack==1.0.5 #updated 2024
mysqlclient
pytz==2024.1 #updated 2024
redis #updated 2024
six==1.16.0 #updated 2024
Twisted==24.7.0 #updated 2024
txaio==23.1.1 #updated 2024
zope.interface==5.4.0 #updated 2024