<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load</title>
</head>
<body>
 <h2>Task selection index page</h2>       
{% if latest_task_list %}
    <ul>
    {% for task in latest_task_list %}
        <li>{{ task.code}} | {{ task.category}} | {{ task.desc }} | {{ task.date }} {{ task.starttime }} {{ task.endtime }} | {{ task.location }} | {{ task.sv }} |</task></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks are available.</p>
{% endif %}
</body>
</html>